In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
data=pd.read_csv('C:\\Users\\chen jia ni\\Desktop\\seeds_dataset.txt',header=None,delim_whitespace=True,names=['x1','x2','x3','x4','x5','x6','x7','y'])

In [20]:
data.head()

      x1     x2      x3     x4     x5     x6     x7  y
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1

In [21]:
from sklearn.cluster import KMeans

In [22]:
data.columns

Index(['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'y'], dtype='object')

In [25]:
y_pred=KMeans(n_clusters=2).fit_predict(data[['x1','x2', 'x3', 'x4', 'x5', 'x6', 'x7']])#分类

In [31]:
y_pred

array([0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1])

In [38]:
y_pre=pd.Series(y_pred.astype(float))

In [39]:
y_pre

0      0.0
1      1.0
2      1.0
3      1.0
4      0.0
5      1.0
6      1.0
7      1.0
8      0.0
9      0.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     0.0
18     1.0
19     1.0
20     1.0
21     1.0
22     0.0
23     1.0
24     1.0
25     0.0
26     1.0
27     1.0
28     1.0
29     1.0
      ...
180    1.0
181    1.0
182    1.0
183    1.0
184    1.0
185    1.0
186    1.0
187    1.0
188    1.0
189    1.0
190    1.0
191    1.0
192    1.0
193    1.0
194    1.0
195    1.0
196    1.0
197    1.0
198    1.0
199    1.0
200    1.0
201    1.0
202    1.0
203    1.0
204    1.0
205    1.0
206    1.0
207    1.0
208    1.0
209    1.0
Length: 210, dtype: float64

In [40]:
y_pre=y_pre.map({0:1,1:3})
y_pre

0      1
1      3
2      3
3      3
4      1
5      3
6      3
7      3
8      1
9      1
10     3
11     3
12     3
13     3
14     3
15     3
16     3
17     1
18     3
19     3
20     3
21     3
22     1
23     3
24     3
25     1
26     3
27     3
28     3
29     3
      ..
180    3
181    3
182    3
183    3
184    3
185    3
186    3
187    3
188    3
189    3
190    3
191    3
192    3
193    3
194    3
195    3
196    3
197    3
198    3
199    3
200    3
201    3
202    3
203    3
204    3
205    3
206    3
207    3
208    3
209    3
Length: 210, dtype: int64

In [44]:
data_p=pd.DataFrame({'y_pre':y_pre,'y':data.y})
data_p

     y  y_pre
0    1      1
1    1      3
2    1      3
3    1      3
4    1      1
5    1      3
6    1      3
7    1      3
8    1      1
9    1      1
10   1      3
11   1      3
12   1      3
13   1      3
14   1      3
15   1      3
16   1      3
17   1      1
18   1      3
19   1      3
20   1      3
21   1      3
22   1      1
23   1      3
24   1      3
25   1      1
26   1      3
27   1      3
28   1      3
29   1      3
..  ..    ...
180  3      3
181  3      3
182  3      3
183  3      3
184  3      3
185  3      3
186  3      3
187  3      3
188  3      3
189  3      3
190  3      3
191  3      3
192  3      3
193  3      3
194  3      3
195  3      3
196  3      3
197  3      3
198  3      3
199  3      3
200  3      3
201  3      3
202  3      3
203  3      3
204  3      3
205  3      3
206  3      3
207  3      3
208  3      3
209  3      3

[210 rows x 2 columns]

In [47]:
data_p['acc']=data_p.y_pre==data_p.y

In [49]:
data_p

     y  y_pre    acc
0    1      1   True
1    1      3  False
2    1      3  False
3    1      3  False
4    1      1   True
5    1      3  False
6    1      3  False
7    1      3  False
8    1      1   True
9    1      1   True
10   1      3  False
11   1      3  False
12   1      3  False
13   1      3  False
14   1      3  False
15   1      3  False
16   1      3  False
17   1      1   True
18   1      3  False
19   1      3  False
20   1      3  False
21   1      3  False
22   1      1   True
23   1      3  False
24   1      3  False
25   1      1   True
26   1      3  False
27   1      3  False
28   1      3  False
29   1      3  False
..  ..    ...    ...
180  3      3   True
181  3      3   True
182  3      3   True
183  3      3   True
184  3      3   True
185  3      3   True
186  3      3   True
187  3      3   True
188  3      3   True
189  3      3   True
190  3      3   True
191  3      3   True
192  3      3   True
193  3      3   True
194  3      3   True
195  3      3   True
196  3      3   True
197  3      3   True
198  3      3   True
199  3      3   True
200  3      3   True
201  3      3   True
202  3      3   True
203  3      3   True
204  3      3   True
205  3      3   True
206  3      3   True
207  3      3   True
208  3      3   True
209  3      3   True

[210 rows x 3 columns]

In [53]:
data_p.acc.sum()/len(data_p)

0.40476190476190477

In [54]:
from sklearn import metrics

In [57]:
metrics.calinski_harabaz_score(data[['x1','x2', 'x3', 'x4', 'x5', 'x6', 'x7']],y_pred)#评分

351.17999215558331

In [58]:
y_pred=KMeans(n_clusters=3).fit_predict(data[['x1','x2', 'x3', 'x4', 'x5', 'x6', 'x7']])#分类

In [59]:
metrics.calinski_harabaz_score(data[['x1','x2', 'x3', 'x4', 'x5', 'x6', 'x7']],y_pred)#评分

375.8049613895007

In [60]:
y_pred=KMeans(n_clusters=4).fit_predict(data[['x1','x2', 'x3', 'x4', 'x5', 'x6', 'x7']])#分类

In [61]:
metrics.calinski_harabaz_score(data[['x1','x2', 'x3', 'x4', 'x5', 'x6', 'x7']],y_pred)#评分

327.85531301878575